

{{ html_header }}

<h3>All Shows</h3>



{% for episode in all_shows %}

<div class="row">
    <div class="col col-2 mx-auto text-center center-block"></div>
    <div class="col col-10">
        <hr>
        <a href="episodes/{{ episode.episode_id }}.html">
            <strong>{{ episode.title }}</strong>
        </a>


        <div>Hosted by <a href="{{ episode.host_file_name }}">
            {{ episode.author }}
            </a> on {{ episode.pubdate.strftime('%Y-%m-%d') }}</div>


        {{ episode.enclosure_href }}
    </div>
</div>
{% endfor %}

{{ html_footer }}
