{{ html_header }}




<div class="row">
    <div class = "col-2">
        <h2>Comments </h2>
    </div>
    <div class = "col-10">

        {% for comment in comments %}
        <hr>
       <h4>{{ comment.title }}</h4>
       {{ comment.description }}
       {% endfor %}

    </div>
</div>


{{ html_footer }}
