

{{ html_header }}

<h3>All Shows</h3>




<div class="row">
    <div class="col col-2 mx-auto text-center center-block"></div>
    <div class="col col-10">
        

    <table>
        <tr>
            <th>Host</th>
            <th>Shows</th>
            <th>Latest</th>
        </tr>
        {% for host in data_for_hosts_page %}
        <tr>
            <td>
                <a href="{{ host.page }}">
                    <strong>{{ host.name }}</strong>
                </a>
            </td>
            <td> {{ host.count }} </td>
            <td> {{ host.latest.strftime('%Y-%m-%d') }} </td>

        </tr>






        {% endfor %}


    </table>
    </div>
</div>

{{ html_footer }}
