{{ html_header }}


<div class="row">
    <div class = "col-2"></div>
    <div class = "col-10">
        <h2> 
            <a href="{{ episode.link }}">
                {{ episode.title }}
            </a>
        </h2>
        Hosted by
        <a href="{{ host_file_name }}">
            {{ episode.author_name }}
            </a>
             on {{ episode.pubdate }}
        <div><a href="{{ enclosure_href }}"> Download </a>  or Listen</div>
        <div >
            <audio controls="controls" preload=none>
                <source src="{{ enclosure_href }}">
            </audio>
        </div>
        <hr>
        {{ episode.description }}
    </div>
</div>

<div class="row">
    <div class = "col-2">
        <h4>HPR Comments </h4>
    </div>
    <div class = "col-10">

        {% for comment in comments %}
        <hr>
       <h4>{{ comment.title }}</h4>
       {{ comment.description }}
       {% endfor %}

    </div>
</div>


<div class="row">
    <div class = "col-2">
        <h4>Mastodon Comments </h4>
    </div>
    <div class = "col-10">

        {% for comment in mastodon_comments %}
        <hr>
       <h4>
        <a href="{{ comment.comment_url }}">
        <img
            class="rounded-circle"
            hight=46
            width=46
            src="{{ comment.author_avatar_link }}"
        </img>
        {{ comment.author_display_name }}
        </a>
       </h4>
       {{ comment.content }}
       {% endfor %}

    </div>
</div>


{{ html_footer }}
