

{{ html_header }}

<h2> {{ host_episode_count }} Shows by {{ host }}</h2>



{% for episode in host_episodes %}

<div class="row">
    <div class="col col-2 mx-auto text-center center-block"></div>
    <div class="col col-5">
        <a href="/episodes/{{ episode.episode_id }}.html">
            <strong>{{ episode.title }}</strong>
        </a>
    </div>


    <div class = "col col-5">{{ episode.pubdate.strftime('%Y-%m-%d') }}</div>

</div>
{% endfor %}

{{ html_footer }}
