

{{ html_header }}

<h3>Latest Shows</h3>

{% for episode in latest_episodes %}

<div class="row">
    <div class="col col-2 mx-auto text-center center-block"></div>
    <div class="col col-10">
        <hr>
        <a href="episodes/{{ episode.episode_id }}.html">
            <strong>{{ episode.title }}</strong>
        </a>


        <div>Hosted by
            <a href="{{ episode.host_file_name }}">
            {{ episode.author }}
            </a>  on {{ episode.pubdate.strftime('%Y-%m-%d') }}</div>
        <div>{{ episode.summary }}</div>

        <a href="{{ episode.enclosure_href }}">Download</a> or Listen Now

        <div >
            <audio controls="controls" preload=none>
                <source src="{{ episode.enclosure_href }}">
            </audio>
        </div>
    </div>
</div>
{% endfor %}

<h3>Previous Five Weeks</h3>

{% for episode in previous_five_weeks %}

<div class="row">
    <div class="col col-2 mx-auto text-center center-block"></div>
    <div class="col col-10">
        <hr>
        <a href="episodes/{{ episode.episode_id }}.html">
            <strong>{{ episode.title }}</strong>
        </a>


        <div>Hosted by 
            <a href="{{ episode.host_file_name }}">
                {{ episode.author }}
            </a> 
            on {{ episode.pubdate.strftime('%Y-%m-%d') }}</div>


        {{ episode.enclosure_href }}
    </div>
</div>
{% endfor %}

<h3>Older Shows</h3>

Get a 
<a href="/all.html">full list</a> of all our shows. 

{{ html_footer }}
